html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

/* Botão Login*/

/* Full-width input fields */
input[type=text], input[type=password], .login {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container button{
    border-radius: 25px;
    font-size: 19px;
    padding: 10px;
    background-color: #009c99;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;

}
.areButton{
    border-radius: 0 0 10px 10px;
    background-color:#e5e5e5;
}


span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000d6; /* Black w/ opacity */
  padding: 60px 10px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  max-width: 600px; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

button {
    border-radius: 5px;
}

.elemento-a-surgir {
  opacity: 0;
  transform: translateY(20px); /* ou outra transformação */
  transition: opacity 0.5s ease, transform 0.5s ease; /* adicione transições */
}
.elemento-a-surgir2 {
  opacity: 0;
  transform: translateX(20px); /* ou outra transformação */
  transition: opacity 0.5s ease, transform 0.5s ease; /* adicione transições */
}
.elemento-a-surgir3 {
  opacity: 0;
  transform: translateX(-20px); /* ou outra transformação */
  transition: opacity 0.5s ease, transform 0.5s ease; /* adicione transições */
}

.surgido {
  opacity: 1;
  transform: translateY(0);
}

body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height:80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 5%;
}
header div{
    display:inline-block;
}

aside{
    width: 0px;
    height: 100%;
    overflow:hidden;
    color: white;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 2;
    transition: width 0.5s ease;
}
aside div{
    height: 50px;
    font-size:18px;
}
.fecharMenu{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10%;
}
.fecharMenu i{
    font-size:30px;
}
.fecharMenu:hover{
    color:#999;
}
.fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    opacity: 0;
    background-color: #000000d6;
}
.banner img{
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.servicos{
    position:relative;

}
.servicos > div:first-child {
    position:absolute;
    top:-50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.servicos2{
    position:relative;
    display: flex;
    height:340px;
    background-color:#e5e5e5;
}
.servicos2 > div:first-child {
    position:absolute;
    top:-50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 20%;
    border-radius:20px;
    padding: 30px 20px;
    margin: 0 10px 10px;
}
.card > h3:first-of-type {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}
.servicos2 .card{
    width: 40%;
}
.icone{
    width: 50px;
    height: 50px;
    background-color: #009c99;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 26px;
}
.icone img{
    width:55%;
}
.apresentacao{
    padding-top:330px;
    padding-bottom:40px;
    background-color: #009c99;
    color:white;
    font-family: 'Open Sans', sans-serif;
}
.apresentacao div h1{
    text-align:center;
}
.apresentacao div{
    padding: 5%;
    text-align:justify;
}
.apresentacao div p{
    font-size:18px;
}

.sobre{
    font-family:'Open Sans', sans-serif;
    background-color:white;
    text-align:center;
}
.sobre div{
    padding: 0 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sobre div div{
    width:40%;
    display:inline-block;
}
.sobre div div h3{
    font-weight:900;
    font-family:'Open Sans', sans-serif;
}
.sobre img{
    width: 340px;
    margin-top:30px;
}
.sobre div div p{
    text-align:center;
    font-size:17px;
    color: #858383;
    font-family:'Open Sans', sans-serif;
}
.planos{
    position:relative;
}
.planos > div:nth-child(1){
    background-color: #e5e5e5;
    height:300px;
}

.planos > div:nth-child(2){
    background-color: #009c99;
    height:300px;
}
.planos > div:nth-child(3){
    position:absolute;
    top:0;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.plano{
    margin: 40px 50px;
    background-color: white;
    border-radius: 10px;
}
.plano h4{
    background-color: black;
    color: white;
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin:0;
}
.plano p{
    text-align: center;
    font-size: 17px;
    color: #858383;
    border-bottom: 1px solid #e3e3e3;
    margin: 0 40px;
    padding: 10px;
}
.plano div{
    padding: 10px 20px;
    background-color: #e5e5e5;
    border-radius: 0 0 10px 10px;
}
.plano div button{
    border-radius: 25px;
    font-size: 19px;
    padding: 10px;
    background-color: #009c99;
}
.valor{
    color: black !important;
    font-size: 25px !important;
}
.valor span{
    color: #858383;
    font-size: 17px;
}
@media screen and (max-width: 1000px) {
    .banner img{
        height: 670px;
    }
    .card{
        width: 40%;
        margin: 0 10px 10px;
    }
    .apresentacao{
        padding-top:500px;
    }
}

@media screen and (max-width: 850px) {
    .apresentacao{
        padding-top:580px;
    }
    .sobre div div{
        width:80%;
    }
    .plano{
        margin: 40px 10px;
    }
}

@media screen and (max-width: 700px) {
    .banner img{
        height: 470px;
    }
    .card{
        width: 80%;
        margin: 0 10px 10px;
    }
    .servicos2 .card{
        width: 80%;
        margin: 0 10px 10px;
    }
    .servicos2{
        height:560px;
    }
    .apresentacao{
        padding-top:1020px;
    }
    .sobre div{
         padding: 0 15px 30px;
    }

    .plano{
        margin: 40px 20px;
    }

    .planos > div:nth-child(1){
        height:500px;
    }

    .planos > div:nth-child(2){
        height:500px;
    }
}

@media screen and (max-width: 500px) {
    .banner img{
        height: 390px;
    }
    .apresentacao{
        padding-top:1110px;
    }
    .servicos2{
        height:710px;
    }
    .sobre div div{
        width:90%;
    }
}

@media screen and (max-width: 390px) {
    .banner img{
        height: 390px;
    }
    .apresentacao{
        padding-top:1150px;
    }

}