<!DOCTYPE html>
<html lang="pt-BR">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<header>
    <div>
      LOGO
    </div>

    <div class="btAmburgue">
        <i class="fa fa-bars" style="font-size:30px;"></i>
    </div>
</header>
<aside>
    <div onclick="fecharMenu()" class="fecharMenu"><i class="fa fa-times "></i></div>
    <div class="">
      <a onclick="login()" class="w3-button w3-block">Login</a>
    </div>
    <div class="">
      <a onclick="fecharMenu()" href="#planos" class="w3-button w3-block">Planos</a>
    </div>
    <div class="">
      <a href="http://api.whatsapp.com/send?phone=82987333555&text=Olá,%20gostaria%20de%20mais%20informações%20sobre%20o%20sistema%20Armacao%20Atacado." class="w3-button w3-block">Contato</a>
    </div>
</aside>
<div class="fundo"></div>
<section class="banner">
    <img src="/uploads/banner.jpg">
</section>
<section class="servicos">
    <div>

      <div class="card w3-card-4 elemento-a-surgir">
          <div class="icone">
            <i class="fa fa-database" aria-hidden="true"></i>
          </div>
          <h3>Estoque</h3>
          <p>Controle total do seu estoque de armações: do recebimento à venda, com informações precisas e atualizadas em tempo real.</p>
      </div>
      <div class="card w3-card-4 elemento-a-surgir">
          <div class="icone" style="font-size:38px;">
            <i class="fa fa-mobile" aria-hidden="true"></i>
          </div>
          <h3>Catálogo online</h3>
          <p>Visualize seu estoque completo de armações em um catálogo online, sempre atualizado e disponível para seus clientes.</p>
      </div>
      <div class="card w3-card-4 elemento-a-surgir">
          <div class="icone">
            <img src="/uploads/foguete.png">
          </div>
          <h3>Trafégo pago</h3>
          <p>Impulsionamos suas vendas com anúncios nas pesquisas do google, no instagram, facebook e outras redes sociais.</p>
      </div>
      <div class="card w3-card-4 elemento-a-surgir">
          <div class="icone">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
          <h3>Segurança</h3>
          <p>Nosso sistema utiliza criptografia SSL e a tecnologia e os servidores do Google, garantindo a proteção dos seus dados e a tranquilidade do seu negócio.</p>
      </div>
    </div>

</section>

<section class="apresentacao">
      <div>
        <h1><b>Estoque de armações</b></h1>
        <p>Diga adeus à frustração de clientes que pedem uma armação específica e você não tem mais em estoque! Com nosso sistema de estoque de armações, você terá um catálogo em tempo real, atualizado a cada venda e entrada de mercadorias. Assim, seus clientes podem visualizar, escolher e adquirir a armação dos sonhos com total segurança, evitando perdas de vendas por falta de informação. Impressione seus clientes com a praticidade e a modernidade do seu negócio, garantindo a melhor experiência de compra!</p>
      </div>
</section>

<section class="servicos2">
    <div>

      <div class="card w3-card-4 elemento-a-surgir">
          <h3>Sistema</h3>
          <p>Nosso sistema de estoque de armações veio para solucionar um problema comum para as lojas de atacado. Entendemos os desafios que você enfrenta no dia a dia e, por isso, desenvolvemos uma solução completa, que te coloca no controle total do seu estoque e impulsiona suas vendas.</p>
      </div>
      <div class="card w3-card-4 elemento-a-surgir">
          <h3>Tráfego pago</h3>
          <p>Fazemos gestão de tráfego pago incluso. Criamos anúncios em plataformas como Google Ads, Facebook Ads e outros. O objetivo é aumentar a visibilidade e conversões, com a segmentação e otimização de campanhas. Assim o seu catálogo online aparecerá nas pesquisas do google, instagram, facebook e tik tok.</p>
      </div>

    </div>

</section>

<section class="sobre">

    <img src="/uploads/foto.png">
    <div>
        <div class="elemento-a-surgir2">
            <h3>Simplicidade</h3>
            <p>Um sistema fácil de usar, com interface amigável e intuitiva, para que você e sua equipe se adaptem rapidamente.</p>
        </div>
        <div class="elemento-a-surgir3">
            <h3>Eficiência</h3>
            <p>Gestão completa do seu estoque, com controle preciso de entradas e saídas, evitando perdas e otimizando seus lucros.</p>
        </div>
        <div class="elemento-a-surgir2">
            <h3>Experiência</h3>
            <p>Tenha a tecnologia que precisa para impulsionar suas vendas, otimizar seus processos e oferecer a melhor experiência para seus clientes!</p>
        </div>
        <div class="elemento-a-surgir3">
            <h3>Suporte 24h:</h3>
            <p>Estamos pronto para te auxiliar na implementação e utilização do sistema, garantindo o sucesso do seu negócio.</p>
        </div>

    </div>
</section>
<section id="planos" class="planos">

    <div></div>
    <div></div>

    <div>
        <div class="plano w3-card-4">
            <h4>Mensal</h4>
            <p>Controle de estoque</p>
            <p>Catálogo online</p>
            <p>Tráfego pago incluso</p>
            <p>Pague após 15 dia de teste</p>
            <p>Suporte 24h</p>
            <p class="valor">R$ 100,00<br><span>por mês</span></p>
            <div>
                <button onclick="location.href = '{{ url_for('cadastro') }}'">Me Cadastrar</button>
            </div>
        </div>

        <div>
        <div class="plano w3-card-4">
            <h4>Anual</h4>
            <p>Controle de estoque</p>
            <p>Catálogo online</p>
            <p>Tráfego pago incluso</p>
            <p>Pague após 15 dia de teste</p>
            <p>Suporte 24h</p>
            <p class="valor">R$ 1000,00<br><span>por mês</span></p>
            <div>
                <button onclick="location.href = '{{ url_for('cadastro') }}'">Me Cadastrar</button>
            </div>
        </div>
    </div>
    </div>




</section>


<div id="id01" class="modal">

  <form class="modal-content animate" action="{{ url_for('autenticar') }}" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"><i class="fa fa-times "></i></span>
      <h3>Entrar no Estoque</h3>
    </div>
    {{ form.csrf_token() }}
    <div class="container">
      {{ form.email.label() }}
      {{ form.email(class="login") }}

      {{ form.senha.label() }}
      {{ form.senha(class="login") }}
    </div>

    <div class="container areButton">
        <button type="submit">Login</button>
    </div>
  </form>
</div>


<footer class="w3-container w3-padding-32 w3-grey w3-center">
  <p>Powered by JHASCode</p>
</footer>
  {% if mensagem  %}
      <div id="msg" style=" opacity: 0; transition: 0.9s; text-align:center; width:100%; height:80px; position:fixed;bottom:10%;">
        <div style="border-radius: 16px; display:inline-block; width:50%; margin:auto; background-color: #3d3d3de6; text-shadow: 1px 1px black; color:white;">
          <p>{{ mensagem }}</p>
          <script>
                $("#msg").css("display", "flex");
                $("#msg").css("opacity", "1");
                setTimeout(()=>{
                   $("#msg").css("opacity", "0");

                   setTimeout(() => $("#msg").css("display", "none"),1000);
                } ,4000);

           </script>
        </div>
      </div>
  {% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
