{% extends "template.html" %}
{% block conteudo %}
<style>


.voltar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 5px;
  left: 5px;
  text-align: center;
  z-index: 50;
  display: block;
  font-size: 30px;
  padding: 2px 0px;
  color: white;
  border: none;
  background-color: #34af23;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  cursor: pointer;
  bottom: 5px;
  background-color: rgb(177 15 15);

}

.plano{
    margin: 0px 25px 15px;
    background-color: white;
    border-radius: 10px;
}
.plano h4{
    position:relative;
    background-color: black;
    color: white;
    padding: 5px 30px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin:0;
}
.plano p{
    text-align: center;
    font-size: 17px;
    color: #858383;
    border-bottom: 1px solid #e3e3e3;
    margin: 0 40px;
    padding: 10px;
}
.plano div{
    padding: 10px 20px;
    background-color: #e5e5e5;
    border-radius: 0 0 10px 10px;
}
.plano div button{
    border-radius: 25px;
    font-size: 19px;
    padding: 10px;
    background-color: #009c99;
}
.plano section{
    height: 0;
    overflow: hidden;
}

.btShow{
  position:absolute;
  top:5px;
  right:10px;
  display: inline-block;
  cursor: pointer;
}

.radio-container{
  position:absolute;
  top:8px;
  left:10px;
  display: inline-block;
  cursor: pointer;
}

.radio-container input {
  display: none;
}

.radio-container .radio-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.radio-container input:checked + .radio-circle {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.radio-container .radio-circle::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.radio-container input:checked + .radio-circle::before {
  opacity: 1;
}

.radio-container .radio-label {
  display: inline-block;
  vertical-align: middle;
}
</style>
<script type="text/javascript" src="https://stc.boacompra.com/payment.boacompra.min.js?p=999999"></script>

        <script type="text/javascript">
            // You MUST instance the payment object ASAP after add the javascript on page,
            // it will prevent loading time issues in the flow.
            var payment = new Boacompra.PaymentMethod();
        </script>
<div id="planos" style="padding-bottom:1px;">

    <div style="display:flex; flex-wrap:wrap; justify-content:center;">
        <div class="plano w3-card-4">
            <h4>
                <span onclick="mensal()" class="radio-container">
                    <input type="radio" name="plano" id="opcao1" value="mensal" checked>
                    <label for="opcao1" class="radio-circle"></label>
                </span>
                Mensal
                <span onclick="mais(this)" class="btShow"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                <span onclick="menos(this)" class="btShow" style="display:none;"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
            </h4>
            <section>
                <p>Controle de estoque</p>
                <p>Catálogo online</p>
                <p>Tráfego pago incluso</p>
                <p>Suporte 24h</p>
            </section>
            <p class="valor">R$ 119,00<span>por mês</span></p>
            <div>
                <p style="padding:0; font-size:15px; margin:0;">Válido até o dia <span class="w3-text-black" style="font-weight:700;">25/07/2025</span></p>
            </div>
        </div>

        <div class="plano w3-card-4">
                <h4>
                    <span onclick="anual()" class="radio-container">
                        <input type="radio" name="plano" id="opcao2" value="anual">
                        <label for="opcao2" class="radio-circle"></label>
                    </span>
                    Anual
                    <span onclick="mais(this)" class="btShow"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                    <span onclick="menos(this)" class="btShow" style="display:none;"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                </h4>
                <section>
                    <p>Controle de estoque</p>
                    <p>Catálogo online</p>
                    <p>Tráfego pago incluso</p>
                    <p>Suporte 24h</p>
                </section>

                <p class="valor">R$ 1190,00<span>por ano</span></p>
                <div>
                    <p style="padding:0; font-size:15px; margin:0;">Válido até o dia <span class="w3-text-black" style="font-weight:700;">25/07/2025</span></p>
                </div>
            </div>


    </div>

    <div  class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; margin-bottom: 50px;border-radius:5px;">

        <h2 style="text-align:center; padding-top:10px;">Planos</h2>

       <form class="w3-container" method="POST" action="{{url_for('pagamento')}}" enctype="multipart/form-data" id="formCard" name="formCard">
            <div class="w3-section">
                <div>
                    {{ form.csrf_token() }}
                    <input type="hidden" class="cw3-border w3-margin-bottom" name="publicKey" id="publicKey" value="{{publickey}}">
                    <input type="hidden" class="cw3-border w3-margin-bottom" name="encriptedCard" id="encriptedCard">
                    <span style="display:none;" id="sitekey">6LdpoREqAAAAACdhkHz_ou9CGjEasooZo4yegM3t</span>
                    <label for="cardNumber">Número do Cartão</label>
                    <input type="text" class="w3-border w3-margin-bottom" name="cardNumber" id="cardNumber" maxlength="16" placeholder="XXXX XXXX XXXX XXXX" style=" padding:4px 2px; border-radius:6px; width:100%;">
                    <label for="cardHolder">Nome do Titular</label>
                    <input type="text" class="w3-border w3-margin-bottom" name="cardHolder" id="cardHolder" maxlength="16" placeholder="Nome Completo" style=" padding:4px 2px; border-radius:6px; width:100%;"><br>
                    <div style="display: flex; justify-content: space-between;padding-right: 70px;">
                        <div>
                            <label>Data de Validade</label><br>
                            <input type="text" class="w3-border w3-margin-bottom" name="cardMonth" id="cardMonth" maxlength="2" placeholder="MM" style="width: 60px; padding:4px 2px;border-radius:6px; text-align:center;"> /
                            <input type="text" class="w3-border w3-margin-bottom" name="cardYear" id="cardYear" maxlength="4" placeholder="AA" style="width: 60px; padding:4px 2px;border-radius:6px; text-align:center;">
                        </div>
                        <div>
                            <label for="cardCVV">CVV</label><br>
                            <input type="text" class="w3-border w3-margin-bottom" name="cardCVV" id="cardCVV" maxlength="4" placeholder="XXX" style="width: 60px; padding:4px 2px;border-radius:6px; text-align:center;">
                        </div>
                    </div>
                    <div>
                        <input type="hidden" id="valor" name="valor" value="119">
                        <input type="hidden" id="tipo" name="tipo" value="mensal">
                        <p>Valor Total: <b><span id="valorTotal">R$ 119,00</span></b></p>
                    </div>

                    <input type="submit" class="w3-button w3-block w3-green w3-padding w3-large" style="border-radius:6px;" value="Finalizar Pagamento">
                </div>

            </div>
       </form>
    </div>
    <a href="{{ url_for('conta')}}"><button class="w3-card-4 voltar" id="voltar" ><i class="fa fa-arrow-left" aria-hidden="true"></i></button></a>

</div>

    <script src="https://assets.pagseguro.com.br/checkout-sdk-js/rc/dist/browser/pagseguro.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

    <script>
       function onSubmit(token) {
            document.getElementById("demo-form").submit();
       }

        function mais(elemento){
            elemento.parentNode.nextElementSibling.style.height = "auto";
            elemento.style.display = "none";
            elemento.nextElementSibling.style.display = "inline-block";
        }

        function menos(elemento){
            elemento.parentNode.nextElementSibling.style.height = "0";
            elemento.style.display = "none";
            elemento.previousElementSibling.style.display = "inline-block";
        }

        function mensal(){
            $("#valor").val("119");
            $("#tipo").val("mensal");
            $("#valorTotal").text("R$ 119,00");
        }
        function anual(){
            $("#valor").val("1190");
            $("#tipo").val("anual");
            $("#valorTotal").text("R$ 1190,00");
        }
    </script>
{% endblock %}