{% extends "template.html" %}
{% block conteudo %}

<style>
    .cores{
    display:inline-block;
    }

    .cores input{
    display:inline-block;

    }

    .cart--item {
            display: flex;
            align-items: center;
        }

        .cart--item img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            cursor:pointer;
        }

        .cart--item img:hover {
            opacity: 0.7;
        }

        .cart--item--qtarea {
            display: inline-flex;
            background-color: #eee;
            border-radius: 10px;
            height: 30px;
        }

        .cart--item-nome {
            line-height:2;
        }

        .cart--item--qt {
            line-height: 30px;
            font-size: 11px;
            color: #000;
            min-width: 50px;
            text-align: center;
            display: inline-block;
        }

        .cart--item--qtarea button {
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            font-size: 17px;
            outline: 0;
            cursor: pointer;
            padding: 0px 6px;
            color: #333;
        }

        .cart--totalitem {
            border-top: 1px solid #ddd;
            color: #555;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding-top:4px;
        }



        .cart--totalitem.big {
            font-size: 17px;
            color: #000;
            font-weight: bold;
            margin-bottom: 12px;
            padding-top:5px;
        }

        .cart--item-subtotal{
            width: 100%;
            text-align: right;
        }

        .cart--finalizar {
            padding: 20px 30px;
            border-radius: 13px;
            background-color: #48d05f;
            color: #fff;
            cursor: pointer;
            text-align: center;
            margin-top: 20px;
            transition: all ease .2s;
        }

        /*======================= Checkbox ==============*/

 	    /* Create a custom checkbox */
				.checkmark2 {
				  position: absolute;
				  top: -15px;
				  left: 0px;
				  height: 20px;
				  width: 20px;
				  border: 1px solid #ccc;
                  border-radius: 3px;
				}


				/* On mouse-over, add a grey background color */
				.container:hover input ~ .checkmark2 {
				  background-color: #999;
				}

				/* When the checkbox is checked, add a blue background */
				.container input:checked ~ .checkmark2 {
				  background-color:  #4CAF50;
				  border-radius: 3px;
				}
 	    		/* Create the checkmark/indicator (hidden when not checked) */
				.checkmark2:after {
				  content: "";
				  position: absolute;
				  display: none;
				}

				/* Show the checkmark when checked */
				.container input:checked ~ .checkmark2:after {
				  display: block;
				}

				/* Style the checkmark/indicator */
				.container .checkmark2:after {
				  left: 5px;
				  top: 2px;
				  width: 8px;
				  height: 13px;
				  border: solid white;
				  border-width: 0 3px 3px 0;
				  -webkit-transform: rotate(45deg);
				  -ms-transform: rotate(45deg);
				  transform: rotate(45deg);
				}
 	    /*======================== Checkbox ===========================*/

 	    .modal-adicionar{
 	        display: none;
            position: fixed;
            top: 0;
            height: 100%;
            width: 100%;
 	    }

 	    .adicionar{
            position: absolute;
            z-index: 1;
            width: 90%;
            left: 0;
            right: 0;
            margin: auto;
            top: 35%;
            border-radius: 5px;
            padding: 10px;
 	    }

 	    .fundo-adicionar{
 	        width:100%;
 	        height:100%;
 	        background-color: #000000c7;
 	        position:absolute;
 	        top:0;
 	    }

        @media  screen and (max-width: 550px) {
            aside.show {
                z-index: 99;
                width:95%;
            }
            .cart--item--qtarea button {
                padding: 0px 6px;
            }
            .cart--item--qt {
                line-height: 32px;
                min-width: 40px;
                text-align: center;
                display: inline-block;
            }

            .cart--item--qtarea {
                height: 30px;
            }

            .cart--area {
                width: 100%;
            }



        }



</style>

<div id="visualizar">
    <div  class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; margin-bottom: 30px;border-radius:5px;">

    	<h2 style="text-align:center; padding-top:10px; margin-bottom:0;">Pedido Número {{pedido.numero}}</h2>
        <p style="text-align:center; margin:0;">{{ pedido.data }}</p>
        {% if pedido.ativo %}
            <p style="text-align:center; line-height:1;"><span style="font-weight:bold;" class="w3-text-red">Em Processo</span></p>
        {% else %}
            <p style="text-align:center; line-height:1;"><span style="font-weight:bold;" class="w3-text-green">Concluído</span></p>
        {% endif %}

       <div class="w3-container" >
            <div>
                <p>Nome: <b>{{ pedido.cliente }}</b></p>
                <p>Whatsapp: <b>{{ pedido.celular }}</b></p>
                <p>Valor: <b>{{ pedido.total }}</b></p>
                <h4 style="text-align:center;" ><b>Armações</b></h4>
                <div style="display: flex; justify-content: space-between; margin-bottom:5px;">
                    <div>
                        <label class="container w3-text-purple" style="display: inline-block; position:relative; width:30px;">
                            <input type="checkbox" style="display:none;" onclick="verificarTodos(this)" value="{{chave}}" id="tudo">
                            <span class="checkmark2" style="text-align: center;"></span>
                        </label><label for="tudo">Selecionar tudo</label>

                    </div>
                    <div>
                        <button onclick="btAdicionar()" class="w3-button w3-green" style="padding:4px 8px;">Adicionar</button>
                    </div>
                </div>

                <div id="lista">

                </div>
                <div class="cart--details">
                    <div class="cart--totalitem total big" style="font-size:15px;">
                      <span>Total</span>
                      <span>R$ <span id="total">0</span></span>
                    </div>
                    <div class="cart--totalitem total big">
                      <span>Subtotal</span>
                      <span>R$ <span id="subtotal">0</span></span>
                    </div>

                </div>


            </div>
            <div>
                {% if pedido.ativo %}
                    <button type="submit" class="w3-button w3-block w3-green w3-section w3-padding w3-large">Dar baixa</button>

                {% else %}
                    <button disabled class="w3-button w3-block w3-green w3-section w3-padding w3-large">Esse pedido já foi dado baixa!</button>

                {% endif %}
            </div>
       </div>

    </div>
    <a href="{{url_for('deletar', chave=chave)}}" style="text-decoration:none;"><button type="submit" class="w3-button w3-block w3-red w3-section w3-padding w3-large" style="margin:auto; width:50%;">Excluir modelo</button></a>

</div>

<script>
    var opcao = document.getElementById("op4");
    opcao.style.backgroundColor = "#a9a9a9";





    fetch('{{url_for('carregar_pedido', chave=chave)}}' , {
        method: 'GET',
        headers: {
            'X-CSRFToken': {{ csrf_token()|tojson }},
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        if(data.chave != false){

            if(!("{{chave}}" in localStorage)){
                localStorage["{{chave}}"] = JSON.stringify(data)
                for(var i = 0; i < pedido.carrinho.length; i++){
                    var keys = Object.keys(pedido.carrinho[i]["cores"]);
                    for(var j = 0; j < keys.length; j++){
                        pedido.carrinho[i].cores[keys[j]][2] = false;
                    }
                }
            }

            pedido = JSON.parse(localStorage["{{chave}}"]);
            var total = parseFloat(0);
            for(var i = 0; i < pedido.carrinho.length; i++){
                var keys = Object.keys(pedido.carrinho[i]["cores"]);
                const index = keys.indexOf("C10");
                if (index !== -1) {
                    keys.splice(index, 1);
                    keys.push("C10");
                }

                for(var j = 0; j < keys.length; j++){
                    $("#lista").append('<div class="cart--item cart--totalitem"> \
                                      <div>\
                                        <label class="container w3-text-purple" style="display: inline-block; position:relative; width:30px;">\
                                            <input type="hidden" value="{{chave}}">\
                                            <input type="checkbox"  style="display:none;" onclick="verificar(this)" name="' + pedido.carrinho[i].chave + '" value="' + keys[j] + '">\
                                            <span class="checkmark2" style="text-align: center;"></span>\
                                        </label>\
                                    </div>\
                                      <div> \
                                          <img src="' + pedido.carrinho[i].img +  '" onclick="abrirImagem(this)">\
                                      </div>\
                                      <div style="width: 100%; justify-content: space-between; flex-wrap: wrap;display:flex;">\
                                          <div class="cart--item-nome"> ' + pedido.carrinho[i].codigo + ' | ' + keys[j] + '</div>\
                                          <div class="cart--item-subtotal" style="display: flex;justify-content: space-between;">\
                                                <div style="inline-block; text-align: left;">valor:R$ ' + pedido.carrinho[i].preco.toFixed(2).replace(".",",") + '</div>\
                                          </div>\
                                      </div>\
                                      <div>\
                                          <div class="cart--item--qtarea">\
                                            <button class="cart--item-qtmenos" onclick="diminuir(this,\'' + pedido.carrinho[i].chave + '\', \'' + keys[j] + '\')">-</button>\
                                            <div class="cart--item--qt"><b>' + pedido.carrinho[i].cores[keys[j]][0] + '</b>/' + pedido.carrinho[i].cores[keys[j]][1] + '</div>\
                                            <button class="cart--item-qtmais" onclick="aumentar(this,\'' + pedido.carrinho[i].chave + '\', \'' + keys[j] + '\')">+</button>\
                                          </div>\
                                      </div>\
                                 </div>');
                    document.getElementsByName(pedido.carrinho[i].chave)[j].checked = pedido.carrinho[i].cores[keys[j]][2];
                    if(pedido.carrinho[i].cores[keys[j]][2] == true){
                        total += (pedido.carrinho[i]["cores"][keys[j]][0]  * pedido.carrinho[i].preco);
                    }
                }
            }
            $("#total").text(pedido.total);
            document.getElementById("subtotal").textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(total);

            localStorage["{{chave}}"] = JSON.stringify(pedido)
        }else{
            mensagemR("Erro ao carergar pedido!");
        }

    })
    .catch(error => {
        console.log('Erro:', error);
        mensagemR("Erro ao carregar pedido pedido!");
    });

    function adicionar(){
        var codigo = $("#codigo").val();
        var cor = document.getElementById("cor").value;
        fetch('{{url_for('adicionar_item')}}' , {
            method: 'POST',
            headers: {
                'X-CSRFToken': {{ csrf_token()|tojson }},
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({
                'codigo': codigo,
                'cor': cor
            })
        })
        .then(response => response.json())
        .then(data => {
            data.preco = parseFloat((data.preco).replace(",","."));
            console.log(data)
            console.log(data.chave != false)
            if(data.chave != false){
                $("#lista").empty();
                var pedido = JSON.parse(localStorage["{{chave}}"]);
                pedido.carrinho.push(data)
                var total = parseFloat(0);
                console.log(pedido)
                for(var i = 0; i < pedido.carrinho.length; i++){
                    var keys = Object.keys(pedido.carrinho[i]["cores"]);
                    const index = keys.indexOf("C10");
                    if (index !== -1) {
                        keys.splice(index, 1);
                        keys.push("C10");
                    }

                    for(var j = 0; j < keys.length; j++){
                        $("#lista").append('<div class="cart--item cart--totalitem"> \
                                          <div>\
                                            <label class="container w3-text-purple" style="display: inline-block; position:relative; width:30px;">\
                                                <input type="hidden" value="{{chave}}">\
                                                <input type="checkbox"  style="display:none;" onclick="verificar(this)" name="' + pedido.carrinho[i].chave + '" value="' + keys[j] + '">\
                                                <span class="checkmark2" style="text-align: center;"></span>\
                                            </label>\
                                        </div>\
                                          <div> \
                                              <img src="' + pedido.carrinho[i].img +  '" onclick="abrirImagem(this)">\
                                          </div>\
                                          <div style="width: 100%; justify-content: space-between; flex-wrap: wrap;display:flex;">\
                                              <div class="cart--item-nome"> ' + pedido.carrinho[i].codigo + ' | ' + keys[j] + '</div>\
                                              <div class="cart--item-subtotal" style="display: flex;justify-content: space-between;">\
                                                    <div style="inline-block; text-align: left;">valor:R$ ' + pedido.carrinho[i].preco.toFixed(2).replace(".",",") + '</div>\
                                              </div>\
                                          </div>\
                                          <div>\
                                              <div class="cart--item--qtarea">\
                                                <button class="cart--item-qtmenos" onclick="diminuir(this,\'' + pedido.carrinho[i].chave + '\', \'' + keys[j] + '\')">-</button>\
                                                <div class="cart--item--qt"><b>' + pedido.carrinho[i].cores[keys[j]][0] + '</b>/' + pedido.carrinho[i].cores[keys[j]][1] + '</div>\
                                                <button class="cart--item-qtmais" onclick="aumentar(this,\'' + pedido.carrinho[i].chave + '\', \'' + keys[j] + '\')">+</button>\
                                              </div>\
                                          </div>\
                                     </div>');
                        document.getElementsByName(pedido.carrinho[i].chave)[j].checked = pedido.carrinho[i].cores[keys[j]][2];
                        if(pedido.carrinho[i].cores[keys[j]][2] == true){
                            total += (pedido.carrinho[i]["cores"][keys[j]][0]  * pedido.carrinho[i].preco);
                        }
                    }
                }
                $("#total").text(pedido.total);
                document.getElementById("subtotal").textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(total);

                localStorage["{{chave}}"] = JSON.stringify(pedido)
            }else{
                mensagemR("Erro ao adicionar item!");
            }

        })
        .catch(error => {
            console.log('Erro:', error);
            mensagemR("Erro ao carregar pedido pedido!");
        });

    }

    function btAdicionar(){
        $('#adicionar').css('display','block');
        $("#codigo").val("");
        document.getElementById("cor").value = "C1";
    }

    function verificar(elemento){
        var pedido = JSON.parse(localStorage[elemento.previousElementSibling.value])
        var total = 0;
        for(var i = 0; i < pedido.carrinho.length; i++){
            if(pedido.carrinho[i].chave == elemento.name){
                if(pedido.carrinho[i].cores[elemento.value][2] === undefined){
                    pedido.carrinho[i].cores[elemento.value][2] = true;
                }else{
                    pedido.carrinho[i].cores[elemento.value][2] = !(pedido.carrinho[i].cores[elemento.value][2]);
                }
            }
        }
        for(var i = 0; i < pedido.carrinho.length; i++){
            var keys = Object.keys(pedido.carrinho[i]["cores"]);
            for(var j = 0; j < keys.length; j++){
                if(pedido.carrinho[i].cores[keys[j]][2] == true){
                    total += (pedido.carrinho[i].cores[keys[j]][0] * pedido.carrinho[i].preco);
                }
            }
        }
        $("#subtotal").text(total.toFixed(2).replace(".", ","));
        localStorage[elemento.previousElementSibling.value] = JSON.stringify(pedido)
    }

    function verificarTodos(elemento){
        var total = 0;
        if(elemento.checked){
            var pedido = JSON.parse(localStorage[elemento.value])
            for(var i = 0; i < pedido.carrinho.length; i++){
                var checks = document.getElementsByName(pedido.carrinho[i].chave)
                for(var k = 0; k < checks.length; k++){
                    checks[k].checked = true;
                }
                var keys = Object.keys(pedido.carrinho[i]["cores"]);
                for(var j = 0; j < keys.length; j++){
                    pedido.carrinho[i].cores[keys[j]][2] = true;
                    total += (pedido.carrinho[i].cores[keys[j]][0] * pedido.carrinho[i].preco);
                }
            }
        }else{
            var pedido = JSON.parse(localStorage[elemento.value])
            for(var i = 0; i < pedido.carrinho.length; i++){
                var checks = document.getElementsByName(pedido.carrinho[i].chave)
                for(var k = 0; k < checks.length; k++){
                    checks[k].checked = false;
                }
                var keys = Object.keys(pedido.carrinho[i]["cores"]);
                for(var j = 0; j < keys.length; j++){
                    pedido.carrinho[i].cores[keys[j]][2] = false;

                }
            }
        }
        $("#subtotal").text(total.toFixed(2).replace(".", ","));
        localStorage[elemento.value] = JSON.stringify(pedido)
    }

    function aumentar(elemento, chave, cor){
        var total = parseFloat(0);
        var objetoJSON = localStorage.getItem("{{chave}}");
        var pedido = JSON.parse(objetoJSON);
        pedido.carrinho.filter((armacao) =>{
            if(armacao.chave == chave){
                if(armacao.cores[cor][0] < armacao.cores[cor][1]){
                    armacao.cores[cor][0] += 1;
                    elemento.previousElementSibling.textContent = armacao.cores[cor][0] + "/" + armacao.cores[cor][1];
                    //elemento.parentNode.nextElementSibling.children[1].children[0].textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format((armacao.cores[cor][0] * armacao.preco));

                }
            }
            var keys = Object.keys(armacao["cores"]);
            for(var i = 0; i < Object.keys(armacao["cores"]).length; i++){
                if(armacao.cores[keys[i]][2] == true){
                    total += (armacao["cores"][keys[i]][0]  * armacao.preco);
                }
            }

        });
        document.getElementById("subtotal").textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(total);
        localStorage.setItem("{{chave}}",JSON.stringify(pedido));
    }

    function diminuir(elemento, chave, cor){
        var total = parseFloat(0);
        var objetoJSON = localStorage.getItem("{{chave}}");
        var pedido = JSON.parse(objetoJSON);
        pedido.carrinho.filter((armacao) =>{
            if(armacao.chave == chave){
                if(armacao.cores[cor][0] >= 1){

                    armacao.cores[cor][0] -= 1;
                    elemento.nextElementSibling.textContent = armacao.cores[cor][0] + "/" + armacao.cores[cor][1];
                    //elemento.parentNode.nextElementSibling.children[1].children[0].textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format((armacao.cores[cor][0] * armacao.preco));

                }
             }
            var keys = Object.keys(armacao["cores"]);
            for(var i = 0; i < Object.keys(armacao["cores"]).length; i++){
                if(armacao.cores[keys[i]][2] == true){
                    total += (armacao["cores"][keys[i]][0]  * armacao.preco);
                }
            }

        });
        document.getElementById("subtotal").textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(total);
        localStorage.setItem("{{chave}}",JSON.stringify(pedido));
    }

    function mensagemR(msg){
        document.getElementById("mensagemR").textContent = msg
         $("#msg2").css("display", "flex");
            $("#msg2").css("opacity", "1");
            setTimeout(()=>{
               $("#msg2").css("opacity", "0");

               setTimeout(() => $("#msg2").css("display", "none"),1000);
            } ,4000);
    }
</script>

<div id="msg2" style="margin: auto; left: 0; right: 0; z-index:1; opacity: 0; transition: 0.9s; text-align:center; width:60%; height:80px; position:fixed;bottom:10%; display:none;">
    <div style="border-radius: 16px; display:inline-block; width:100%; margin:auto; background-color: #3d3d3de6; text-shadow: 1px 1px black; color:white;">
      <p id="mensagemR"></p>
    </div>
</div>

<div class="modal-adicionar" id="adicionar">
    <div class="adicionar w3-container  w3-card-4 w3-animate-zoom w3-white ">
        <p>Digite o código e escolha a cor:</p>
        <input autocomplete="false" class="w3-input w3-border w3-margin-bottom" style="width:70%; display:inline-block;" id="codigo" maxlength="50" minlength="1" name="codigo"  placeholder="Digite o código" required="" type="text" value="">
        <select name="cor" id="cor" class="w3-input w3-border w3-margin-bottom" style="width:28%; display:inline-block;">
            <option selected="" value="C1">C1</option>
            <option value="C2">C2</option>
            <option value="C3">C3</option>
            <option value="C4">C4</option>
            <option value="C5">C5</option>
            <option value="C6">C6</option>
            <option value="C7">C7</option>
            <option value="C8">C8</option>
            <option value="C9">C9</option>
            <option value="C10">C10</option>

        </select>
        <div style="display:flex; justify-content: space-between;">
            <button onclick="adicionar()" style="width:30%; padding: 4px 8px; margin-left: 40px; border-radius:5px;font-size:14px;" class="w3-button w3-green">Adicionar</button>
            <button onclick="$('#adicionar').css('display','none')" style="width:30%; padding: 4px 8px; margin-right: 40px; border-radius:5px;font-size:14px;" class="w3-button w3-red">Cancelar</button>
        </div>
    </div>
    <div class="fundo-adicionar"></div>
</div>

{% endblock %}