{% extends "template.html" %}
{% block conteudo %}

<style>
    .cores{
    display:inline-block;
    }

    .cores input{
    display:inline-block;

    }

    .cart--item {
            display: flex;
            align-items: center;
        }

        .cart--item img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            cursor:pointer;
        }

        .cart--item img:hover {
            opacity: 0.7;
        }

        .cart--item--qtarea {
            display: inline-flex;
            background-color: #eee;
            border-radius: 10px;
            height: 30px;
        }

        .cart--item-nome {
            line-height:2;
        }

        .cart--item--qt {
            line-height: 30px;
            font-size: 11px;
            color: #000;
            min-width: 50px;
            text-align: center;
            display: inline-block;
        }

        .cart--item--qtarea button {
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            font-size: 17px;
            outline: 0;
            cursor: pointer;
            padding: 0px 6px;
            color: #333;
        }

        .cart--totalitem {
            border-top: 1px solid #ddd;
            color: #555;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding-top:4px;
        }



        .cart--totalitem.big {
            font-size: 17px;
            color: #000;
            font-weight: bold;
            margin-bottom: 8px;
            padding-top:5px;
        }

        .cart--item-subtotal{
            width: 100%;
            text-align: right;
        }

        .cart--finalizar {
            padding: 20px 30px;
            border-radius: 13px;
            background-color: #48d05f;
            color: #fff;
            cursor: pointer;
            text-align: center;
            margin-top: 20px;
            transition: all ease .2s;
        }

        /*======================= Checkbox ==============*/

 	    /* Create a custom checkbox */
				.checkmark2 {
				  position: absolute;
				  top: -15px;
				  left: 0px;
				  height: 20px;
				  width: 20px;
				  border: 1px solid #ccc;
                  border-radius: 3px;
				}


				/* On mouse-over, add a grey background color */
				.container:hover input ~ .checkmark2 {
				  background-color: #999;
				}

				/* When the checkbox is checked, add a blue background */
				.container input:checked ~ .checkmark2 {
				  background-color:  #4CAF50;
				  border-radius: 3px;
				}
 	    		/* Create the checkmark/indicator (hidden when not checked) */
				.checkmark2:after {
				  content: "";
				  position: absolute;
				  display: none;
				}

				/* Show the checkmark when checked */
				.container input:checked ~ .checkmark2:after {
				  display: block;
				}

				/* Style the checkmark/indicator */
				.container .checkmark2:after {
				  left: 5px;
				  top: 2px;
				  width: 8px;
				  height: 13px;
				  border: solid white;
				  border-width: 0 3px 3px 0;
				  -webkit-transform: rotate(45deg);
				  -ms-transform: rotate(45deg);
				  transform: rotate(45deg);
				}
 	    /*======================== Checkbox ===========================*/

 	    .modal-adicionar{
 	        display: none;
            position: fixed;
            top: 0;
            height: 100%;
            width: calc(100% - 250px);
 	    }

 	    .adicionar{
            position: absolute;
            z-index: 1;
            width: 60%;
            left: 0;
            right: 0;
            margin: auto;
            top: 35%;
            border-radius: 5px;
            padding: 10px;
 	    }

 	    .fundo-adicionar{
 	        width:100%;
 	        height:100%;
 	        background-color: #000000c7;
 	        position:absolute;
 	        top:0;
 	    }

 	    .modal, .modal-excluir {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 90px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        .modal-excluir{
            padding-top: 200px;

        }

 	    .modal-content {
          margin: auto;
          display: block;
          width: 80%;
          max-width: 500px;
        }

        /* The Close Button */
        .close {
          position: absolute;
          top: 15px;
          right: 35px;
          color: #f1f1f1;
          font-size: 40px;
          font-weight: bold;
          transition: 0.3s;
        }

        .close:hover,
        .close:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
        }

        #loading {
          position: fixed; /* Fixo na tela */
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
          display: none; /* Alinha os elementos */
          justify-content: center; /* Centraliza horizontalmente */
          align-items: center; /* Centraliza verticalmente */
          z-index: 100; /* Acima do conteúdo */
        }

        .loading-spinner {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 5px solid #ccc; /* Cor da borda */
          border-color: #ccc transparent #ccc transparent; /* Cor da animação */
          animation: spin 1.2s linear infinite; /* Animação de rotação */
        }

        .autocomplete {
          position: relative;
          display: inline-block;
        }

        .autocomplete-items {
          position: absolute;
          border: 1px solid #d4d4d4;
          border-bottom: none;
          border-top: none;
          z-index: 99;
          /*position the autocomplete items to be the same width as the container:*/
          top: 100%;
          left: 0;
          right: 0;
        }

        .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
          background-color: #fff;
          border-bottom: 1px solid #d4d4d4;
        }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
          background-color: #e9e9e9;
        }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
          background-color: DodgerBlue !important;
          color: #ffffff;
        }

         @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

        #msg2{
            margin: auto;
            left: 250px;
            right: 0;
            z-index:1;
            opacity: 0;
            transition: 0.9s;
            text-align:center;
            width:calc(100% - 250px);
            height:80px;
            position:fixed;
            bottom:10%;
            display:none;
        }

        .campoCaixa{
            padding: 2px 4px;
            border:1px solid #ccc;
            border-radius: 6px;
            height: 30px;
            width: 100%;
            margin-bottom: 3px;
            font-size:14px
          }

        .escolherFrete{
            cursor:pointer;
            width:49%;
            padding:10px;
            display:inline-block;
            transition: background-color 0.3s
        }
        .escolherFrete:hover{
            background-color: #00000055
        }

        @media (max-width: 992px){
            .modal-adicionar{
                width:100%;
            }
            #msg2{
                left: 0;
                width:100%;
            }
        }

        @media  screen and (max-width: 550px) {
            .adicionar{
                width:90%;
            }
            aside.show {
                z-index: 99;
                width:95%;
            }
            .cart--item--qtarea button {
                padding: 0px 6px;
            }
            .cart--item--qt {
                line-height: 32px;
                min-width: 40px;
                text-align: center;
                display: inline-block;
            }

            .cart--item--qtarea {
                height: 30px;
            }

            .cart--area {
                width: 100%;
            }



        }



</style>

<div id="visualizar">
    <div  class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; margin-bottom: 15px;border-radius:5px;">

    	<h2 style="text-align:center; padding-top:10px; margin-bottom:0;">Pedido Número {{pedido.numero}}</h2>
        <p style="text-align:center; margin:0;">{{ pedido.data }}</p>
        {% if pedido.ativo %}
            <p style="text-align:center; line-height:1;"><span style="font-weight:bold;" class="w3-text-red">Em Processo</span></p>
        {% else %}
            <p style="text-align:center; line-height:1;"><span style="font-weight:bold;" class="w3-text-green">Concluído</span></p>
        {% endif %}

       <div class="w3-container" >
            <div>
                <p>Nome: <b>{{ pedido.cliente }}</b></p>
                <p>Whatsapp: <b>{{ pedido.celular }}</b></p>
                <p>Valor: <b>{{ pedido.total }}</b></p>
                <h4 style="text-align:center;" ><b>Armações</b></h4>
                <div style="display: flex; justify-content: space-between; flex-wrap:wrap; margin-bottom:5px;">

                    {% if pedido.ativo %}
                        <div>
                            <label class="container w3-text-purple" style="display: inline-block; position:relative; width:30px;">
                                <input type="checkbox" style="display:none;" onclick="verificarTodos(this)" value="{{chave}}" id="tudo">
                                <span class="checkmark2" style="text-align: center;"></span>
                            </label><label for="tudo">Selecionar tudo</label>

                        </div>
                        <div>
                            <button onclick="btAdicionar()" class="w3-button w3-green" style="padding:4px 8px;">Adicionar</button>
                            <button onclick="btCriar()" class="w3-button w3-green" style="padding:4px 8px;">Criar item</button>

                        </div>
                    {% else %}
                         <div>
                            <label class="container w3-text-purple" style="display: inline-block; position:relative; width:30px;">
                                <input disabled type="checkbox" style="display:none;" onclick="verificarTodos(this)" value="{{chave}}" id="tudo">
                                <span class="checkmark2" style="text-align: center;"></span>
                            </label><label for="tudo">Selecionar tudo</label>

                        </div>

                    {% endif %}

                </div>

                <div id="lista">

                </div>
                <div class="cart--details">
                    <div class="cart--totalitem total big" style="font-size:15px;">
                      <span>Valor do pedido</span>
                      <span>R$ <span id="total">0</span></span>
                    </div>
                    <div class="cart--totalitem total big" style="font-size:15px;">
                      <span>Desconto</span>
                      {% if pedido.ativo %}
                            <span><input onblur="darDesconto(this)" style="width:45px; height:25px" class="campoCaixa" id="desconto" maxlength="3" minlength="1" name="desconto"  type="number" value="0"> %</span>
                      {% else %}
                            <span><input disabled onblur="darDesconto(this)" style="width:45px; height:25px" class="campoCaixa" id="desconto" maxlength="3" minlength="1" name="desconto"  type="number" value="0"> %</span>

                      {% endif %}
                    </div>
                    <div class="cart--totalitem total big" style="flex-wrap:wrap;">
                      <span style="width:100%; text-align:center;">total</span>
                      <span>Quantidade: <span id="quant">0</span></span><span>R$ <span id="subtotal">0</span></span>
                    </div>

                </div>


            </div>
            <div>
                {% if pedido.ativo %}
                    <button onclick="btBaixa()" type="submit" class="w3-button w3-block w3-green w3-section w3-padding w3-large">Dar baixa</button>

                {% else %}
                    <button disabled class="w3-button w3-block w3-green w3-section w3-padding w3-large">Esse pedido já foi dado baixa!</button>

                {% endif %}
            </div>
       </div>

    </div>
    {% if pedido.cep %}
        <div  class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; margin-bottom: 30px;border-radius:5px; padding:1px;">
            <h3 style="text-align:center; padding-top:10px; margin-bottom:0;">Calcular frete</h3>
            <div style="text-align:center;">
                <div style="width:40%; display:inline-block;">
                    <label style="font-size:12px" for="origem">CEP remetente</label>
                    <input autocomplete="false" class="campoCaixa" id="origem" maxlength="9" minlength="1" name="numero" placeholder="Origem" required="" type="text" value="{{ pedido.origem }}">
                </div>
                <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                <div style="width:40%; display:inline-block;">
                    <label style="font-size:12px" for="destino">CEP destinatário</label>
                    <input autocomplete="false" class="campoCaixa" id="destino" maxlength="9" minlength="1" name="numero" placeholder="Destino" required="" type="text" value="{{ pedido.cep }}">
                </div>

            </div>
            <div style="display:flex;justify-content:space-between;padding:0 10px;flex-wrap:wrap;">
                <div style="width:40%; display:inline-block;">
                    <label style="font-size:12px" for="altura">Altura(cm)</label>
                    <input autocomplete="false" class="campoCaixa" id="altura" maxlength="9" minlength="1" name="altura" placeholder="15,2" required="" type="text" value="">
                </div>
                <div style="width:40%; display:inline-block;">
                    <label style="font-size:12px" for="largura">Largura(cm)</label>
                    <input autocomplete="false" class="campoCaixa" id="largura" maxlength="9" minlength="1" name="largura" placeholder="18,0" required="" type="text" value="">
                </div>
                <div style="width:40%; display:inline-block;">
                    <label style="font-size:12px" for="comprimento">Comprimeno(cm)</label>
                    <input autocomplete="false" class="campoCaixa" id="comprimento" maxlength="9" minlength="1" name="comprimento" placeholder="25,0" required="" type="text" value="">
                </div>
                <div style="width:40%; display:inline-block;">
                    <label style="font-size:12px" for="peso">Peso(Kg)</label>
                    <input autocomplete="false" class="campoCaixa" id="peso" maxlength="9" minlength="1" name="peso" placeholder="1,3" required="" type="text" value="">
                </div>
            </div>
            <div id="transportadoras">

            </div>
            <button onclick="frete()"  class="w3-button w3-block w3-green w3-section" style="width: 50%; font-size: 14px; margin: auto; padding: 4px 8px;">Calcular frete</button>


        </div>
        <button onclick="delete localStorage['{{ chave }}']; location.reload();"  class="w3-button w3-block w3-red w3-section w3-padding w3-large" style="margin:auto; width:50%;">Reiniciar Pedido</button>

        <button onclick="btExcluir()"  class="w3-button w3-block w3-red w3-section w3-padding w3-large" style="margin:auto; width:50%;">Excluir Pedido</button>
    {% endif %}
</div>


<!-- The Modal -->
<div id="myModal" class="modal w3-animate-zoom">
  <span class="close" onclick="fecharImagem()">&times;</span>
  <img class="modal-content" id="img01" src="">

</div>

<div id="msg2">
    <div style="border-radius: 16px; display:inline-block; width:80%; margin:auto; background-color: #3d3d3de6; text-shadow: 1px 1px black; color:white;">
      <p id="mensagemR"></p>
    </div>
</div>

<div class="modal-adicionar" id="adicionar">
    <div class="adicionar w3-container  w3-card-4 w3-animate-zoom w3-white ">
        <p style="text-align:center;">Digite o código e escolha a cor:</p>
        <div class="autocomplete" style="width:70%;">
            <input autocomplete="off" class="w3-input w3-border " style="width:100%; display:inline-block; border-radius:5px; padding:6px;" id="codigo" maxlength="50" minlength="1" name="codigo"  placeholder="Digite o código" required="" type="text" value="">
        </div>
        <select name="cor" id="cor" class="w3-input w3-border w3-margin-bottom" style="width:28%; display:inline-block;">
            <option selected="" value="C1">C1</option>
            <option value="C2">C2</option>
            <option value="C3">C3</option>
            <option value="C4">C4</option>
            <option value="C5">C5</option>
            <option value="C6">C6</option>
            <option value="C7">C7</option>
            <option value="C8">C8</option>
            <option value="C9">C9</option>
            <option value="C10">C10</option>

        </select>
        <div style="display:flex; justify-content: space-between; margin-top:15px;">
            <button onclick="adicionar()" style="width:30%; padding: 4px 8px; margin-left: 40px; border-radius:5px;font-size:14px;" class="w3-button w3-green">Adicionar</button>
            <button onclick="$('#adicionar').css('display','none')" style="width:30%; padding: 4px 8px; margin-right: 40px; border-radius:5px;font-size:14px;" class="w3-button w3-red">Cancelar</button>
        </div>
    </div>
    <div class="fundo-adicionar"></div>

</div>

<div class="modal-adicionar" id="criar">
    <div class="adicionar w3-container  w3-card-4 w3-animate-zoom w3-white ">
        <p style="text-align:center;">Criar um item fora do estoque:</p>
        <div class="autocomplete" style="width:70%;">
            <label for="codigo">Código</label>
            <input autocomplete="off" class="w3-input w3-border " style="width:100%; display:inline-block; border-radius:5px; padding:6px;" id="codigoC" maxlength="50" minlength="1" name="codigo"  placeholder="Digite o código" required="" type="text" value="">
        </div>
        <div style="width:28%; display:inline-block;">
            <label for="cor">Cor</label>
            <select name="cor" id="corC" class="w3-input w3-border w3-margin-bottom" style="display:inline-block;">
                <option selected="" value="C1">C1</option>
                <option value="C2">C2</option>
                <option value="C3">C3</option>
                <option value="C4">C4</option>
                <option value="C5">C5</option>
                <option value="C6">C6</option>
                <option value="C7">C7</option>
                <option value="C8">C8</option>
                <option value="C9">C9</option>
                <option value="C10">C10</option>
            </select>
        </div>

        <div style="display:inline-block; width:49%;">
            <label for="quantidadeC">Quantidade</label>
            <input autocomplete="off" class="w3-input w3-border " style="width:100%; display:inline-block; border-radius:5px; padding:6px;" id="quantidadeC" max="1000" min="1" name="codigo"  placeholder="Digite a quantidade" required="" type="number" value="">

        </div>
        <div style="display:inline-block; width:49%;">
            <label for="valorC">Valor</label>
            <input autocomplete="off" class="w3-input w3-border " style="width:100%; display:inline-block; border-radius:5px; padding:6px;" id="valorC" max="9000" min="1" name="codigo"  placeholder="Digite o valor" required="" type="number" value="">
        </div>

        <div style="display:flex; justify-content: space-between; margin-top:15px;">
            <button onclick="criar()" style="width:30%; padding: 4px 8px; margin-left: 40px; border-radius:5px;font-size:14px;" class="w3-button w3-green">Adicionar</button>
            <button onclick="$('#criar').css('display','none')" style="width:30%; padding: 4px 8px; margin-right: 40px; border-radius:5px;font-size:14px;" class="w3-button w3-red">Cancelar</button>
        </div>
    </div>
    <div class="fundo-adicionar"></div>

</div>

<div class="modal-adicionar" id="baixa">
    <div class="adicionar w3-container  w3-card-4 w3-animate-zoom w3-white ">
        <p style="text-align:center;">Somente os item selecionados serão dados baixa.</p>

        <div style="display:flex; justify-content: space-between;">
            <button onclick="darBaixa()" style="width:30%; padding: 4px 8px; margin-left: 40px; border-radius:5px;font-size:14px;" class="w3-button w3-green">Dar baixa</button>
            <button onclick="$('#baixa').css('display','none')" style="width:30%; padding: 4px 8px; margin-right: 40px; border-radius:5px;font-size:14px;" class="w3-button w3-red">Cancelar</button>
        </div>
    </div>
    <div class="fundo-adicionar"></div>

</div>

<div class="modal-adicionar" id="excluir">
    <div class="adicionar w3-container  w3-card-4 w3-animate-zoom w3-white ">
        <p style="text-align:center;">Deseja excluir esse pedido?</p>

        <div style="display:flex; justify-content: space-between;">
            <button onclick="excluir()" style="width:30%; padding: 4px 8px; margin-left: 40px; border-radius:5px;font-size:14px;" class="w3-button w3-green">Excluir</button>
            <button onclick="$('#excluir').css('display','none')" style="width:30%; padding: 4px 8px; margin-right: 40px; border-radius:5px;font-size:14px;" class="w3-button w3-red">Cancelar</button>
        </div>
    </div>
    <div class="fundo-adicionar"></div>

</div>

<div id="loading">
    <div class="loading-spinner"></div>
</div>

<script>
    var opcao = document.getElementById("op3");
    opcao.style.backgroundColor = "#a9a9a9";

    fetch('{{url_for('carregar_pedido', chave=chave)}}' , {
        method: 'GET',
        headers: {
            'X-CSRFToken': {{ csrf_token()|tojson }},
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        if(data.chave != false){
            var pedido = {};
            if(!("{{chave}}" in localStorage)){
                if(data.ativo && data.tipo != 'local'){
                    localStorage["{{chave}}"] = JSON.stringify(data)
                    pedido = JSON.parse(localStorage["{{chave}}"]);
                    for(var i = 0; i < pedido.carrinho.length; i++){
                        var keys = Object.keys(pedido.carrinho[i]["cores"]);
                        for(var j = 0; j < keys.length; j++){
                            pedido.carrinho[i].cores[keys[j]][2] = false;
                        }
                    }
                }else{
                    pedido = data
                }

            }else{
                pedido = JSON.parse(localStorage["{{chave}}"]);
            }


            carregar(pedido);
        }else{
            mensagemR("Erro ao carergar pedido!");
        }

    })
    .catch(error => {
        console.log('Erro:', error);
        mensagemR("Erro ao carregar pedido pedido!");
    });

    function frete(){
        $("#transportadoras").append('<div id="loading" style="display:flex; position:relative;">\
                                        <div class="loading-spinner"></div>\
                                    </div>')

        var origem = $("#origem").val().replace("-", "").trim();
        var destino = $("#destino").val().replace("-", "").trim();
        var largura = $("#largura").val().trim();
        var altura = $("#altura").val().trim();
        var comprimento = $("#comprimento").val().trim();
        var peso = $("#peso").val().trim();

        if(origem != "" && destino != "" && largura != "" && altura != "" && comprimento != "" && peso != ""){

            fetch('{{url_for('frete')}}' , {
                method: 'POST',
                headers: {
                    'X-CSRFToken': {{ csrf_token()|tojson }},
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    'origem': origem,
                    'destino': destino,
                    'largura': largura,
                    'altura': altura,
                    'comprimento': comprimento,
                    'peso': peso
                })
            })
            .then(response => response.json())
            .then(data => {
               $("#transportadoras").empty();
               $("#transportadoras").append('<span style="display:inline-block; width:100%; text-align:center;">Clique para adicionar</span>')
                for(var i = 0; i < data.length; i++){
                    if(!("error" in data[i]) && (data[i].name == "PAC" || data[i].name == "SEDEX")){
                        console.log(data[i])
                        var preco = 0;
                        if(data[i].name == "PAC"){
                            preco = parseFloat(data[i].price) * 1.12
                        }else{
                            preco = parseFloat(data[i].price) * 1.20
                        }
                        console.log(preco)
                        $("#transportadoras").append('<div class="escolherFrete" onclick="addFrete(\'' + preco.toFixed(2).replace(".",",") + '\',\'' + data[i].delivery_time + '\',\'' + data[i].name + '\', \'' + data[i].company.picture +  '\')"> \
                                              <div style="width:49%;"> \
                                                  <img style="width:100%;" src="' + data[i].company.picture +  '" onclick="abrirImagem(this)">\
                                              </div>\
                                              <div style="font-size:13px;">\
                                                    <div style="inline-block; text-align: left;">Tipo: ' + data[i].name + '</div>\
                                                    <div style="inline-block; text-align: left;">valor:R$ ' + preco.toFixed(2).replace(".",",") + '</div>\
                                                    <div style="inline-block; text-align: left;">Entrega: ' + data[i].delivery_time + ' dias</div>\
                                              </div>\
                                         </div>');
                    }
                }
            })
            .catch(error => {
                console.log('Erro:', error);
                mensagemR("Erro ao calcular frete!");
            });

        }else if(origem == ""){
            mensagemR("O campo remetente deve ser preenchido!");
        }else if(destino == ""){
            mensagemR("O campo destinatário deve ser preenchido!");
        }else if(largura == ""){
            mensagemR("O campo largura deve ser preenchido!");
        }else if(altura == ""){
            mensagemR("O campo altura deve ser preenchido!");
        }else if(comprimento == ""){
            mensagemR("O campo comprimento deve ser preenchido!");
        }else if(peso == ""){
            mensagemR("O campo peso deve ser preenchido!");
        }

    }

    function addFrete(preco, dias, tipo, img){
        var pedido = JSON.parse(localStorage["{{chave}}"]);
        var item = {
            "chave": "Frete " + tipo,
            "codigo": "Frete " + tipo,
            "img": img,
            "preco": parseFloat(preco.replace(",", ".")),
            "cores":{
                ["C1"]: [1, 1, false]
            }
        }
        pedido.carrinho.push(item)
        console.log(pedido)
        $("#lista").empty();
        carregar(pedido);
        $('#criar').css('display','none');
        mensagemR("Item adicionado!");
    }

    function darDesconto(elemento){
        var total = parseFloat(0);
        var pedido = JSON.parse(localStorage["{{chave}}"]);
        var desc = parseFloat(elemento.value);
        if(typeof desc === 'number' && !isNaN(desc)){
            pedido.desconto = desc
        }else{
            pedido.desconto = 0;
        }


        for(var i = 0; i < pedido.carrinho.length; i++){
            var keys = Object.keys(pedido.carrinho[i]["cores"]);
            for(var j = 0; j < keys.length; j++){
                if(pedido.carrinho[i].cores[keys[j]][2] == true){
                    total += (pedido.carrinho[i].cores[keys[j]][0] * pedido.carrinho[i].preco);
                }
            }
        }
        document.getElementById("subtotal").textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(total - ( total * (pedido.desconto/100)));
        localStorage["{{chave}}"] = JSON.stringify(pedido)
    }

    function adicionar(){
        var codigo = ($("#codigo").val()).trim();
        var cor = (document.getElementById("cor").value).trim();
        var pedido = JSON.parse(localStorage["{{chave}}"]);
        var modelo = pedido.carrinho.filter(armacao => armacao.codigo == codigo)
        if(modelo.length > 0 && cor in modelo[0].cores){
            mensagemR("Item já adicionado!");
            return
        }
        fetch('{{url_for('adicionar_item')}}' , {
            method: 'POST',
            headers: {
                'X-CSRFToken': {{ csrf_token()|tojson }},
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({
                'codigo': codigo,
                'cor': cor
            })
        })
        .then(response => response.json())
        .then(data => {

            if(data.chave != false){
                if(data.chave == "vazia"){
                    $('#adicionar').css('display','none');

                    mensagemR(data.msg);
                }else{
                    data.preco = parseFloat((data.preco).replace(",","."));
                    $("#lista").empty();
                    var pedido = JSON.parse(localStorage["{{chave}}"]);
                    var index = pedido.carrinho.findIndex(armacao => armacao.chave == data.chave);
                    if( index > -1 ){
                        var cor = Object.keys(data.cores)[0];
                        pedido.carrinho[index].cores[cor] = data.cores[cor];
                    }else{
                        pedido.carrinho.unshift(data)
                    }

                    carregar(pedido);
                    $('#adicionar').css('display','none');
                    mensagemR("Item adicionado!");

                }

            }else{
                mensagemR("Erro ao adicionar item!");
            }

        })
        .catch(error => {
            console.log('Erro:', error);
            mensagemR("Erro ao carregar pedido pedido!");
        });

    }

    function darBaixa(){
        var pedido = JSON.parse(localStorage["{{chave}}"]);
        pedido['chave'] = "{{chave}}";
        $("#loading").css("display", "flex");
        fetch('{{url_for('dar_baixa')}}' , {
            method: 'POST',
            headers: {
                'X-CSRFToken': {{ csrf_token()|tojson }},
                'Content-Type': 'application/json'
            },
            body:JSON.stringify(pedido)
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            if(data.ativo == false){
                delete localStorage["{{chave}}"];
                location.reload();

            }
        })
        .catch(error => {
            console.log('Erro:', error);
            mensagemR("Erro ao dar baixa no pedido!");
            $("#loading").css("display", "flex");
        });
    }

    function criar(){
        var codigo = ($("#codigoC").val()).trim();
        var cor = (document.getElementById("corC").value).trim();
        var quantidade = parseInt(($("#quantidadeC").val()).trim());
        var valor = parseFloat(($("#valorC").val().trim()).replace(",","."));
        var pedido = JSON.parse(localStorage["{{chave}}"]);

        var item = {
            "chave": codigo,
            "codigo": codigo,
            "img": "https://firebasestorage.googleapis.com/v0/b/estoque-armacoes.appspot.com/o/padrao.jpg?alt=media&token=fdf174ca-2576-4fdb-9e49-8cf17a6248ed",
            "preco": valor,
            "cores":{
                [cor]: [quantidade, (2 * quantidade), false]
            }
        }
        pedido.carrinho.unshift(item)
        console.log(pedido)
        $("#lista").empty();
        carregar(pedido);
        $('#criar').css('display','none');
        mensagemR("Item adicionado!");
    }


    function carregar(pedido){
        var total = parseFloat(0);
        var quant = 0;
        for(var i = 0; i < pedido.carrinho.length; i++){
            var keys = Object.keys(pedido.carrinho[i]["cores"]);
            keys.sort();
            const index = keys.indexOf("C10");
            if (index !== -1) {
                keys.splice(index, 1);
                keys.push("C10");
            }

            if(pedido.ativo){
                for(var j = 0; j < keys.length; j++){
                    $("#lista").append('<div class="cart--item cart--totalitem"> \
                                      <div>\
                                        <label class="container w3-text-purple" style="display: inline-block; position:relative; width:30px;">\
                                            <input type="hidden" value="{{chave}}">\
                                            <input type="checkbox"  style="display:none;" onclick="verificar(this)" name="' + pedido.carrinho[i].chave + '" value="' + keys[j] + '">\
                                            <span class="checkmark2" style="text-align: center;"></span>\
                                        </label>\
                                    </div>\
                                      <div> \
                                          <img src="' + pedido.carrinho[i].img +  '" onclick="abrirImagem(this)">\
                                      </div>\
                                      <div style="width: 100%; justify-content: space-between; flex-wrap: wrap;display:flex;">\
                                          <div class="cart--item-nome"> ' + pedido.carrinho[i].codigo + ' | ' + keys[j] + '</div>\
                                          <div class="cart--item-subtotal" style="display: flex;justify-content: space-between;">\
                                                <div style="inline-block; text-align: left;">valor:R$ ' + pedido.carrinho[i].preco.toFixed(2).replace(".",",") + '</div>\
                                          </div>\
                                      </div>\
                                      <div>\
                                          <div class="cart--item--qtarea">\
                                            <button class="cart--item-qtmenos" onclick="diminuir(this,\'' + pedido.carrinho[i].chave + '\', \'' + keys[j] + '\')">-</button>\
                                            <div class="cart--item--qt"><b>' + pedido.carrinho[i].cores[keys[j]][0] + '</b>/' + pedido.carrinho[i].cores[keys[j]][1] + '</div>\
                                            <button class="cart--item-qtmais" onclick="aumentar(this,\'' + pedido.carrinho[i].chave + '\', \'' + keys[j] + '\')">+</button>\
                                          </div>\
                                      </div>\
                                 </div>');
                    document.getElementsByName(pedido.carrinho[i].chave)[j].checked = pedido.carrinho[i].cores[keys[j]][2];
                    if(pedido.carrinho[i].cores[keys[j]][2] == true){
                        total += (pedido.carrinho[i]["cores"][keys[j]][0]  * pedido.carrinho[i].preco);
                        quant += pedido.carrinho[i]["cores"][keys[j]][0];
                    }
                }
            }else{
                for(var j = 0; j < keys.length; j++){
                    $("#lista").append('<div class="cart--item cart--totalitem"> \
                                      <div>\
                                        <label class="container w3-text-purple" style="display: inline-block; position:relative; width:30px;">\
                                            <input type="hidden" value="{{chave}}">\
                                            <input disabled type="checkbox"  style="display:none;" onclick="verificar(this)" name="' + pedido.carrinho[i].chave + '" value="' + keys[j] + '">\
                                            <span class="checkmark2" style="text-align: center;"></span>\
                                        </label>\
                                    </div>\
                                      <div> \
                                          <img src="' + pedido.carrinho[i].img +  '" onclick="abrirImagem(this)">\
                                      </div>\
                                      <div style="width: 100%; justify-content: space-between; flex-wrap: wrap;display:flex;">\
                                          <div class="cart--item-nome"> ' + pedido.carrinho[i].codigo + ' | ' + keys[j] + '</div>\
                                          <div class="cart--item-subtotal" style="display: flex;justify-content: space-between;">\
                                                <div style="inline-block; text-align: left;">valor:R$ ' + pedido.carrinho[i].preco.toFixed(2).replace(".",",") + '</div>\
                                          </div>\
                                      </div>\
                                      <div>\
                                          <div class="cart--item--qtarea">\
                                            <button disabled class="cart--item-qtmenos" onclick="diminuir(this,\'' + pedido.carrinho[i].chave + '\', \'' + keys[j] + '\')">-</button>\
                                            <div class="cart--item--qt"><b>' + pedido.carrinho[i].cores[keys[j]][0] + '</b>/' + pedido.carrinho[i].cores[keys[j]][1] + '</div>\
                                            <button disabled class="cart--item-qtmais" onclick="aumentar(this,\'' + pedido.carrinho[i].chave + '\', \'' + keys[j] + '\')">+</button>\
                                          </div>\
                                      </div>\
                                 </div>');
                    document.getElementsByName(pedido.carrinho[i].chave)[j].checked = pedido.carrinho[i].cores[keys[j]][2];
                    if(pedido.carrinho[i].cores[keys[j]][2] == true){
                        total += (pedido.carrinho[i]["cores"][keys[j]][0]  * pedido.carrinho[i].preco);
                        quant += pedido.carrinho[i]["cores"][keys[j]][0];
                    }
                }
            }


        }
        $("#total").text(pedido.total);
        document.getElementById("subtotal").textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(total - (total * (pedido.desconto/100)));
        document.getElementById("quant").textContent = quant;
        document.getElementById("desconto").value = pedido.desconto;
        console.log(pedido.desconto)
        if(pedido.ativo){
            localStorage["{{chave}}"] = JSON.stringify(pedido)
        }
    }

    function btAdicionar(){
        $('#adicionar').css('display','block');
        $("#codigo").val("");
        document.getElementById("cor").value = "C1";
    }
    function btBaixa(){
        $('#baixa').css('display','block');
    }

    function btExcluir(){
         $('#excluir').css('display','block');
    }

    function btCriar(){

        $('#criar').css('display','block');
        $("#codigoC").val("");
        document.getElementById("corC").value = "C1";
    }

    function excluir(){
        delete localStorage["{{chave}}"];
        location.href = "{{url_for('deletar_pedido', chave=chave)}}"
    }



    function verificar(elemento){
        var pedido = JSON.parse(localStorage[elemento.previousElementSibling.value])
        var total = parseFloat(0);
        var quant = 0;
        for(var i = 0; i < pedido.carrinho.length; i++){
            if(pedido.carrinho[i].chave == elemento.name){
                if(pedido.carrinho[i].cores[elemento.value][2] === undefined){
                    pedido.carrinho[i].cores[elemento.value][2] = true;
                }else{
                    pedido.carrinho[i].cores[elemento.value][2] = !(pedido.carrinho[i].cores[elemento.value][2]);
                }
            }
        }
        for(var i = 0; i < pedido.carrinho.length; i++){
            var keys = Object.keys(pedido.carrinho[i]["cores"]);
            for(var j = 0; j < keys.length; j++){
                if(pedido.carrinho[i].cores[keys[j]][2] == true){
                    total += (pedido.carrinho[i].cores[keys[j]][0] * pedido.carrinho[i].preco);
                    quant += pedido.carrinho[i].cores[keys[j]][0];
                }
            }
        }
        document.getElementById("subtotal").textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(total  - (total * (pedido.desconto/100)));
        document.getElementById("quant").textContent = quant;
        localStorage[elemento.previousElementSibling.value] = JSON.stringify(pedido)
    }

    function verificarTodos(elemento){
        var total = parseFloat(0);
        var quant = 0;
        if(elemento.checked){
            var pedido = JSON.parse(localStorage[elemento.value])
            for(var i = 0; i < pedido.carrinho.length; i++){
                var checks = document.getElementsByName(pedido.carrinho[i].chave)
                for(var k = 0; k < checks.length; k++){
                    checks[k].checked = true;
                }
                var keys = Object.keys(pedido.carrinho[i]["cores"]);
                for(var j = 0; j < keys.length; j++){
                    pedido.carrinho[i].cores[keys[j]][2] = true;
                    total += (pedido.carrinho[i].cores[keys[j]][0] * pedido.carrinho[i].preco);
                    quant += pedido.carrinho[i].cores[keys[j]][0];
                }
            }
        }else{
            var pedido = JSON.parse(localStorage[elemento.value])
            for(var i = 0; i < pedido.carrinho.length; i++){
                var checks = document.getElementsByName(pedido.carrinho[i].chave)
                for(var k = 0; k < checks.length; k++){
                    checks[k].checked = false;
                }
                var keys = Object.keys(pedido.carrinho[i]["cores"]);
                for(var j = 0; j < keys.length; j++){
                    pedido.carrinho[i].cores[keys[j]][2] = false;

                }
            }
        }
        document.getElementById("subtotal").textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(total  - (total * (pedido.desconto/100)));
        document.getElementById("quant").textContent = quant;
        localStorage[elemento.value] = JSON.stringify(pedido)
    }

    function aumentar(elemento, chave, cor){
        var total = parseFloat(0);
        var quant = 0;
        var objetoJSON = localStorage.getItem("{{chave}}");
        var pedido = JSON.parse(objetoJSON);
        pedido.carrinho.filter((armacao) =>{
            if(armacao.chave == chave){
                if(armacao.cores[cor][0] < armacao.cores[cor][1]){
                    armacao.cores[cor][0] += 1;
                    elemento.previousElementSibling.children[0].textContent = armacao.cores[cor][0];
                    //elemento.parentNode.nextElementSibling.children[1].children[0].textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format((armacao.cores[cor][0] * armacao.preco));

                }
            }
            var keys = Object.keys(armacao["cores"]);
            for(var i = 0; i < Object.keys(armacao["cores"]).length; i++){
                if(armacao.cores[keys[i]][2] == true){
                    total += (armacao["cores"][keys[i]][0]  * armacao.preco);
                    quant += armacao["cores"][keys[i]][0];
                }
            }

        });
        document.getElementById("subtotal").textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(total  - (total * (pedido.desconto/100)));
        document.getElementById("quant").textContent = quant;
        localStorage.setItem("{{chave}}",JSON.stringify(pedido));
    }

    function diminuir(elemento, chave, cor){
        var total = parseFloat(0);
        var quant = 0;
        var objetoJSON = localStorage.getItem("{{chave}}");
        var pedido = JSON.parse(objetoJSON);
        pedido.carrinho.filter((armacao) =>{
            if(armacao.chave == chave){
                if(armacao.cores[cor][0] >= 1){

                    armacao.cores[cor][0] -= 1;
                    elemento.nextElementSibling.children[0].textContent = armacao.cores[cor][0];
                    //elemento.parentNode.nextElementSibling.children[1].children[0].textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format((armacao.cores[cor][0] * armacao.preco));

                }
             }
            var keys = Object.keys(armacao["cores"]);
            for(var i = 0; i < Object.keys(armacao["cores"]).length; i++){
                if(armacao.cores[keys[i]][2] == true){
                    total += (armacao["cores"][keys[i]][0]  * armacao.preco);
                    quant += armacao["cores"][keys[i]][0];
                }
            }

        });
        document.getElementById("subtotal").textContent = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(total  - (total * (pedido.desconto/100)));
        document.getElementById("quant").textContent = quant;
        localStorage.setItem("{{chave}}",JSON.stringify(pedido));
    }

    function mensagemR(msg){
        document.getElementById("mensagemR").textContent = msg
         $("#msg2").css("display", "flex");
            $("#msg2").css("opacity", "1");
            setTimeout(()=>{
               $("#msg2").css("opacity", "0");

               setTimeout(() => $("#msg2").css("display", "none"),1000);
            } ,4000);
    }

    function abrirImagem(elemento){
    // Get the image and insert it inside the modal - use its "alt" text as a caption
      var modal = document.getElementById("myModal");
      var modalImg = document.getElementById("img01");

      modal.style.display = "block";
      modalImg.src = elemento.src;

    }

    function fecharImagem() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }

    function cep(element){
        element.style.backgroundColor = "white";
        element.addEventListener("input",function(e){
            var val = this.value.replace(",", "").split("");
            var s = "";

            if(val[val.length - 1].search("[0-9]") != -1 ){
                    if( val.length == 6){
                        val.splice(val.length -1,0, "-");
                    }
            }else{
                  val.splice(val.length - 1,1);
            }

            for(var i = 0; i < val.length; i++){
                s += val[i];
            }
            this.value = s;
        });
    }

    cep(document.getElementById("origem"))
    cep(document.getElementById("destino"))

    function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var codigos = []

fetch('{{url_for('carregar_codigos', chave=chave)}}' , {
    method: 'GET',
    headers: {
        'X-CSRFToken': {{ csrf_token()|tojson }},
        'Content-Type': 'application/json'
    }
})
.then(response => response.json())
.then(data => {
    codigos = data;
    autocomplete(document.getElementById("codigo"), codigos);

})
.catch(error => {
    console.log('Erro:', error);
});

/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/


</script>


{% endblock %}